<h2>Not In my Element</h2>
  <div id="modal"></div>
  
 <h2>In my Element</h2>
 <div>
    {{#in-element _container}}
      <p>I'm defined in my element but I'm not in my element!</p>
    {{/in-element}}
  </div>

